[data-color-scheme="dark"]{
  --bg-color:rgb(33,33,33);
  --font-color:rgb(209, 209, 209);
  --prompt-color:rgb(47,47,47);
  --input-color:rgb(210,210,210);
  --input-placeholder-color:rgba(180, 180, 180, 1);
  --button-disable:rgba(103,103,103,1);
  --button-enable:rgba(255,255,255);
  --button-color:rgb(0,0,0);
  --prompt-bg:rgba(199, 191, 191, 0.1);
  --scroll-color:rgba(209, 209, 209,.8)





}

[data-color-scheme="light"]{
    --text-color:red;
    --font-color:black;
    --prompt-color:rgb(244,244,244);

    
    --bg-color:rgb(255,255,255);
  --input-color:black;
  --input-placeholder-color:rgb(73,73,73);
  --button-disable:rgb(215,215,215);
  --button-enable:rgba(0,0,0);
  --button-color:rgb(255,255,255);
  --prompt-bg: rgba(199, 199, 199, 0.1);
  --scroll-color:rgba(209, 209, 209,.8)



}

::-webkit-scrollbar{
  background-color: var(--bg-color);
  width: 20px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--scroll-color);
  border: 5px solid var(--bg-color);
  border-radius: 50000px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .2s,0s color;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

a {
  color: inherit;
  text-decoration: none;
}